<ul id="timeline">
	<% @wines.each do |wine| %>
		<a href="/wines/<%= wine.id %>">
			<li class="listing clearfix">
				<div class="image_wrapper">
					<%= image_tag wine.image.thumb.url %>
				</div>
				<div class="info">
					<span class="job_title"><%= wine.name %></span>
					<span class="job_info"><%= wine.manufacture %><span> &bull;</span> <%= wine.city %> <span>&bull;</span> Jan 1st</span>
				</div>
				<span class="job_type full_time">Full-Time</span>
			</li>
		</a>
	<% end %>

</ul>