<h1>Show</h1>

<h3><%= @wine.name %></h3>

<p>
	<%= @wine.manufacture %><br>
	<%= @wine.city %><br>
	<%= @wine.country %><br>
	<%= @wine.year %><br>
	<%= @wine.summary %><br>
	<%= @wine.description %><br>
</p>

<%= link_to "Delete", wine_path(@wine), method: :delete, data: {confirm: "Are you sure?"} %>